{% capture logo_block %}
  {% if widget_settings.logo-img %}
    {% if template contains 'index' %}
      <span class="header__logo">
        <img src="{{ widget_settings.logo-img }}" alt="{{ account.title }}" title="{{ account.title | strip_html }}" />
      </span>
    {% else %}
      <a href="{% if language.not_default? %}
      /?lang={{ language.locale }} {% else %} / {% endif %}" class="header__logo">
        <img src="{{ widget_settings.logo-img }}" alt="{{ account.title }}" title="{{ account.title | strip_html }}" />
      </a>
    {% endif %}
  {% else %}
    {% if template contains 'index' %}
      <span class="header__logo">
        {% default_logo %}
      </span>
    {% else %}
      <a href="{% if language.not_default? %}
      /?lang={{ language.locale }} {% else %} / {% endif %}" class="header__logo">
        {% default_logo %}
      </a>
    {% endif %}
  {% endif %}
{% endcapture %}

{% capture search_block %}
<div class="header__search">
  <form action="/search" method="get" class="header__search-form">
    <input type="text" autocomplete="off" {% if widget_settings.live-search %} data-search-field {% endif %} class="form-control form-control_size-l header__search-field" name="q" value="" placeholder="{{ messages.search_placeholder }}" />
    <input type="hidden" name="lang" value="{{ language.locale }}">
    <div class="header__search__results" data-search-result></div>
  </form>
  <button type="button" class="header__search-btn js-start-search">
    <span class="icon icon-search _show"></span>
  </button>
</div>
{% endcapture %}

{% capture languages_block %}
  {% if languages.size > 1 and languages.size < 3 %}
    {% if editor_mode? or widget_settings.hide-language != true %}
      {% for lang in languages %}
        <a href="?lang={{lang.locale}}" class="header__language {% if language.locale == lang.locale %}is-active{%endif%}">{{ lang.locale }}</a>
      {% endfor %}
	{% endif %}
  {% elsif languages.size > 2 %}
    {% if editor_mode? or widget_settings.hide-language != true %}
      <div class="header__mobile-languages header__languages">
        <div class="header__languages-cur js-toggle-languages-list">
          {{language.locale}}
          <span class="icon icon-angle-down"></span>
        </div>
        <div class="header__languages-drop">
          <div class="header__languages-list">
            {% for lang in languages %}
            {% if language.locale != lang.locale %}
            <a href="?lang={{lang.locale}}" class="header__languages-item">{{ lang.locale }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endcapture %}

{% capture collections_menu %}
<div class="m-cat-menu m-cat-menu__wrapper">
  {% assign level_limit = 3 %}
  {% assign source_handle = collections.first.parent.handle %}

  {% capture cache_menu_key %}cache_cat-menu_key_{{ collections.last_updated_at }}_{{ language.locale }}{% endcapture %}

  {% assign prev_link_level = 1 %}
  {% assign root_level = collections[source_handle].level %}
  <ul class="m-cat-menu__root-level m-cat-menu__list">
    <div class="m-cat-menu__header">
      <li class="title">{{messages.catalog}}</li>
      <div class="header__area-languages">
        {{ languages_block }}
      </div>
    </div>
    {% cache cache_menu_key %}
            {% for link in collections[source_handle].flatten_branch %}
              {% assign node_level = link.level | minus: root_level %}
              {% assign _in_limit = level_limit | minus: node_level %}
              {% assign _next_level_in_limit = _in_limit | minus: 1 %}

              {% assign show_level = false %}
              {% if _in_limit >= 0 %}
                {% assign show_level = true %}
              {% endif %}

              {% assign show_next_level = false %}
              {% if link.subcollections.size > 0 and  _next_level_in_limit >= 0 %}
                {% assign show_next_level = true %}
              {% endif %}

              {% if show_level %}
                {% assign level_difference = prev_link_level | minus: link.level | plus: root_level %}

                {% if level_difference > 0 %}
                  {% for i in (1..level_difference) %}
                          {% unless forloop.first %}
                            </li>
                          {% endunless %}
                    	</ul>
					</div>
                  {% endfor %}

                  </li>
                {% endif %}

                <li {% if show_next_level %}class="m-cat-menu__show-next-level show-level-{{ node_level }}"{% endif %}>
                    <a href="{{ link.url }}">
                      {% if node_level < 2 %}
                        {% assign collection_img = link.image %}
                        {% if collection_img.original_url contains 'no_image'%}
                          {% assign collection_first_product = link.products | first %}
                          {% if collection_first_product.images.size > 0 %}
                            {% assign collection_img = collection_first_product.first_image %}
                          {% endif %}
                        {% endif %}
                        <img src="{{ collection_img.small_url }}" alt="{{ link.title }}"/>
                        <span class="title">{{ link.title }}</span>
                      {% else %}
                      	{{ link.title }}
                      {% endif %}
                      {% if show_next_level %}
                          <span class="icon icon-angle-right"></span>
                      {% endif %}
                    </a>
                  {% if show_next_level %}
                  <div class="m-cat-menu__level-{{ node_level }} m-cat-menu__wrapper">
                    <ul class="m-cat-menu__level-{{ node_level }}-list m-cat-menu__list">
                      <div class="m-cat-menu__header">
                        <li class="title">{{link.title}}</li>
                        <button type="button" class="button m-cat-menu__back-btn"><span class="icon icon-arrow-left"></span></button>
                      </div>
                  {% endif %}

                  {% assign prev_link_level = node_level %}

                  {% unless show_next_level %}
                  </li>
                  {% endunless %}

                  {% if forloop.last %}
                    {% assign prev_link_level = node_level | minus: 1 %}
                      {% for i in (1..prev_link_level) %}
                        	</ul>
						</div>
                      {% endfor %}
                  {% endif %}
              {% endif %}
            {% endfor %}
            {% endcache %}
	</div>
{% endcapture %}

{% capture top_panel %}
<div class="top-panel">
	<div class="top-panel__menu">
      {% if editor_mode? or widget_settings.hide-menu != true %}
      <ul class="header__menu js-cut-list" data-navigation data-menu-handle="{{ widget_settings.menu-handle }}">
        {% for link in linklists[widget_settings.menu-handle].links %}
        <li class="header__menu-item" data-navigation-item data-menu-item-id="{{ link.id}}">
          <div class="header__menu-controls">
            <a href="{{ link.url }}" class="header__menu-link {% if link.current? %}is-current{% endif %}" data-navigation-link="{{ link.url }}">
              {{ link.title }}
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
  	</div>
  	<div class="top-panel__phones">
      <ul>
        {% if widget_settings.phone_number and widget_settings.phone_number != '' %}
        <li>
        	      <a class="phone-value" href="tel:{{widget_settings.phone_number | strip_html | remove: '(' | remove: ')' | remove: '-' | remove: ' ' | lstrip }}">{{widget_settings.phone_number}}</a>
        </li>
        {% endif %}
        {% if widget_settings.phone_number_2 and widget_settings.phone_number_2 != '' %}
        <li>
        	<a class="phone-value" href="tel:{{widget_settings.phone_number_2 | strip_html | remove: '(' | remove: ')' | remove: '-' | remove: ' ' | lstrip }}">{{widget_settings.phone_number_2}}</a>
        </li>
        {% endif %}
      </ul>
  	</div>
</div>
{% endcapture %}
  <div class="filling-block"></div>
<div class="header {% if editor_mode? %}is-editor{% endif %}" id="header-with-left-menu">
  {% if editor_mode? or widget_settings.show-top-panel %}
  <div class="header__area-top-panel">
    {{ top_panel }}
  </div>
  {% endif %}
  <div class="header__content {% unless widget_settings.logo-img %}without-logo{% endunless %}">
    <div class="header__area-logo">
      {{ logo_block }}
    </div>
    <div class="header__area-show-menu">
      <button class="header__show-menu-btn js-toggle-cat-menu">
        <span class="icon icon-bars _show"></span>
      	<span class="icon icon-times _hide"></span>
      </button>
    </div>
    <div class="header__area-search">
		{{ search_block }}
    </div>
    <div class="header__area-languages">
    	{{ languages_block }}
    </div>
    <div class="header__area-controls">
      {% if editor_mode? or widget_settings.hide-personal != true %}
            <a href="/client_account/orders" class="header__control-btn header__cabinet">
              <span class="icon icon-user"></span>
              <span class="header__control-text">{{ messages.profile }}</span>
            </a>
          {% endif %}

          {% if settings.compare_enabled == null or settings.compare_enabled %}
          {% if widget_settings.hide-compare != true %}
            <a href="/compares" class="header__control-btn header__compare">
              <span class="icon icon-compare">
                <span class="header__control-bage compare-empty" data-compare-counter>0</span>
              </span>
              <span class="header__control-text">{{ messages.compare }}</span>
            </a>
          {% endif %}
          {% endif %}

          {% if settings.favorite_enabled == true and widget_settings.hide-favorite != true %}
            <a href="/favorites" class="header__control-btn header__favorite">
              <span class="icon icon-favorites">
                <span class="header__control-bage favorites-empty" data-ui-favorites-counter>0</span>
              </span>
              <span class="header__control-text">{{ messages.favorites }}</span>
            </a>
          {% endif %}

          <a href="{{cart_url}}" class="header__control-btn header__cart">
            <span class="icon icon-cart">
              <span class="header__control-bage cart-empty" data-cart-positions-count></span>
            </span>
            <span class="header__control-text">{{ messages.cart }}</span>
          </a>

          {% if widget_settings.phone_number and widget_settings.phone_number != '' %}
          <a href="tel:{{widget_settings.phone_number | strip_html | remove: '(' | remove: ')' | remove: '-' | remove: ' ' | lstrip }}" class="header__control-btn header__mobile-phone">
            <span class="icon icon-phone"></span>
          </a>
          {% endif %}
    </div>
  </div>
  <div class="header-cat-menu _hide">
    {{ collections_menu }}
  </div>
</div>

{% assign collections_menu = nil %}
{% assign logo_block = nil %}
{% assign search_block = nil %}
{% assign languages_block = nil %}
{% assign top_panel = nil %}
